# ignore virtual environment
.snn/
# ignore VS Code settingss 
.vscode/
# ignore testing scripts for now
testing/ 
# ignore models for now 
models/
# ignore tensorboard logdirs for now 
runs/
# ignore compiled bytecode files 
*.pyc
# ignore current cluster job logs 
logs/rest
logs/rsnn_be
# ignore MacOS configuration from tracking 
snn_shd/local_config.py 
# ignore py-spinnaker2 repo 
py-spinnaker2
# ignore DS files 
*.DS_Store
