# ignore virtual environment
.snn/
# ignore VS Code settingss 
.vscode/
# ignore testing scripts for now
testing/ 
# ignore notebooks for now 
notebooks/
# ignore models for now 
models/
# ignore tensorboard logdirs for now 
runs/
# ignore compiled bytecode files 
*.pyc
# ignore cluster job logs 
logs/
# ignore MacOS configuration from tracking 
snn_shd/local_config.py 
# ignore DS files 
*.DS_Store
